body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f89880 !important;

  .container {
    height: 450px;
    width: 450px;
    padding: 30px;
    // background-color: #fff5ee;
    border-radius: 10px;
    .cards {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: calc(30% - 30px);
        height: calc(30% - 30px);
        perspective: 800px;
        background-color: #fff5ee;
        border-radius: 5px;
        box-shadow: 0 2px 15px #8f47445b;
        transform-style: preserve-3d;
        position: relative;

        .front-view {
          position: absolute;
          transform: rotateY(-180deg);
          span img {
            max-width: 40px;
          }
        }
        .back-view {
          img {
            max-width: 55px;
          }
        }
      }
    }
  }
}
